@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.notepad {
  background-image: url(../assets/img/art-artist-background-316466.jpg);
  height: 100vh;
  background-position: center;
  text-align: center;
  &__header{
    font-size: 40px;
  } 
}

input{
  width: 50%;
  height: 50vh;
}

